.cookies {
  position: fixed;
  bottom: 20px;
  inset-inline: 0;
  margin-inline: auto;
  max-width: 835px;
  padding-inline: 10px;

  &__inner {
    @include flex-center();
    gap: 40px;
    padding: 20px 30px;
    box-shadow: 0 8px 16px 0 rgba(33, 33, 33, 0.2);
    border-radius: 20px;

    @include mobile-m {
      padding: 20px 10px;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__text {
    max-width: 575px;
    font-size: 14px;

    @include mobile {
      font-size: 12px;
    }

    @include mobile-m {
      font-size: 10px;
    }

    & a {
      color: var(--color-accent);
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }

  &__button {
    max-height: 50px;
    font-size: 16px;

    @include mobile-m {
      max-height: 42px;
      font-size: 14px;
      width: 100%;
    }
  }
}