.input {
  position: relative;
  height: 61px;
  color: var(--color-dark-70);
  background-color: var(--color-light);
  overflow: hidden;
  border-radius: 16px;

  &_textarea {
    height: 100px;
  }

  & label {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    &.active {
      opacity: 1;
    }
  }

  & input, & textarea {
    @include reset-input;
    width: 100%;
    height: 100%;
    padding-inline: 20px;
    color: var(--color-dark-70);
    background-color: var(--color-light);

    &::placeholder {
      color: currentColor;
    }

    &:not(:placeholder-shown) {
      & {
        padding-top: 16px;
      }
    }

    &:focus, &:active {
      & {
        padding-top: 16px;
      }

      &::placeholder {
        color: transparent;
      }
    }
  }

  & textarea {
    padding-top: 26px !important;
    &::placeholder {
      position: absolute;
      top: 20px;
    }
  }

}