.section {
  margin-bottom: 120px;

  @include tablet {
    margin-bottom: 80px;
  }
  @include mobile {
    margin-bottom: 60px;
  }
  @include mobile-s {
    margin-bottom: 40px;
  }

  &.center &__body {
    @include flex-center();
    flex-direction: column
  }

  &__tab {
    @include flex-center(true);
    max-height: 38px;
    padding: 8px 12px;
    color: var(--color-accent);
    line-height: 1.4;
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-sm);
    margin-bottom: 12px;
  }

  &__title {
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__page-title {
    margin-bottom: 30px;

    @include mobile-m {
      margin-bottom: 20px;
    }
  }
}