body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-dark);
  background-color: var(--color-light-bg);
}

main {
  //background: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  @include reset-link
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  @include fluid-text(76, 26);
  line-height: 1.2;
}

h2, .h2 {
  font-size: 44px;
  @include tablet {
    font-size: 34px;
  }
  @include mobile {
    font-size: 26px;
  }
  @include mobile-m {
    font-size: 20px;
  }
}

h3, .h3 {
  font-size: 22px;
  @include tablet {
    font-size: 18px;
  }
}

h4, .h4 {
  @include fluid-text(18, 16);
}