@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Involve";
  src: url("../fonts/Involve-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNext-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-light-70: rgba(255, 255, 255, 0.7);
  --color-light-bg: #f6f6f6;
  --color-accent: #084da7;
  --color-accent-hover: #04408e;
  --color-dark: #212121;
  --color-dark-70: rgba(33, 33, 33, 0.7);
  --color-dark-40: rgba(33, 33, 33, 0.4);
  --color-dark-20: rgba(33, 33, 33, 0.2);
  --font-family: "Involve", sans-serif;
  --second-family: "Avenir Next", sans-serif;
  --third-family: "Inter", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.6;
  --transition-duration: 0.3s;
  --container-width: 1800px;
  --container-margin-x: 60px;
  --border-radius: 40px;
  --border-radius-sm: 30px;
}
@media (max-width: 1024px) {
  :root {
    --container-margin-x: 30px;
    --font-size: 14px;
  }
}
@media (max-width: 768px) {
  :root {
    --container-margin-x: 20px;
  }
}
@media (max-width: 375px) {
  :root {
    --container-margin-x: 10px;
  }
}

.container {
  width: min(var(--container-width), 100% - var(--container-margin-x) * 2);
  margin-inline: auto;
}

.rounded {
  border-radius: var(--border-radius);
  overflow: hidden;
}
@media (max-width: 1024px) {
  .rounded {
    border-radius: var(--border-radius-sm);
  }
}

.rounded-sm {
  border-radius: var(--border-radius-sm);
  overflow: hidden;
}

.bg-white {
  background-color: var(--color-light);
}

.bg-accent {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .visible-tablet {
    display: none !important;
  }
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-dark);
  background-color: var(--color-light-bg);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(26px, 4.2222222222vw, 76px);
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(20px, 2.4444444444vw, 44px);
}

h3, .h3 {
  font-size: clamp(18px, 1.4444444444vw, 26px);
}

h4, .h4 {
  font-size: clamp(16px, 1vw, 18px);
}

.button {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--color-dark);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height: 61px;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--color-light);
  background-color: var(--color-accent);
  border-radius: var(--border-radius-sm);
}
@media (max-width: 1024px) {
  .button {
    max-height: 54px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .button {
    max-height: 46px;
    font-size: 14px;
  }
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-accent-hover);
  }
}
@media (hover: hover) {
  .button:active {
    background-color: #1166d5;
  }
  .button:focus {
    background-color: #1166d5;
  }
}
.button.transparent {
  background-color: transparent;
  color: var(--color-dark);
}

.section {
  margin-bottom: 120px;
}
@media (max-width: 1024px) {
  .section {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .section {
    margin-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .section {
    margin-bottom: 40px;
  }
}
.section.center .section__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height: 38px;
  padding: 8px 12px;
  color: var(--color-accent);
  line-height: 1.4;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius-sm);
  margin-bottom: 12px;
}
.section__title {
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .section__title {
    margin-bottom: 20px;
  }
}
.section__page-title {
  margin-bottom: 30px;
}
@media (max-width: 524px) {
  .section__page-title {
    margin-bottom: 20px;
  }
}

.input {
  position: relative;
  height: 61px;
  color: var(--color-dark-70);
  background-color: var(--color-light);
  overflow: hidden;
  border-radius: 16px;
}
.input_textarea {
  height: 100px;
}
.input label {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
.input label.active {
  opacity: 1;
}
.input input, .input textarea {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--color-dark);
  outline: none;
  width: 100%;
  height: 100%;
  padding-inline: 20px;
  color: var(--color-dark-70);
  background-color: var(--color-light);
}
.input input::placeholder, .input textarea::placeholder {
  color: currentColor;
}
.input input:not(:placeholder-shown), .input textarea:not(:placeholder-shown) {
  padding-top: 16px;
}
.input input:focus, .input input:active, .input textarea:focus, .input textarea:active {
  padding-top: 16px;
}
.input input:focus::placeholder, .input input:active::placeholder, .input textarea:focus::placeholder, .input textarea:active::placeholder {
  color: transparent;
}
.input textarea {
  padding-top: 26px !important;
}
.input textarea::placeholder {
  position: absolute;
  top: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  --size: 36px;
}
@media (max-width: 524px) {
  .checkbox {
    --size: 24px;
  }
}
.checkbox__input {
  appearance: none;
  position: relative;
  width: var(--size);
  height: var(--size);
  background: var(--color-light);
  border-radius: 6px;
  border: 1px solid #e8e8ea;
  flex-shrink: 0;
}
.checkbox__input::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background: url("../images/icons/check.svg") no-repeat center center;
}
.checkbox__input:checked::after {
  width: var(--size);
  height: var(--size);
}
.checkbox label a {
  padding-bottom: 4px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header {
  margin-block: 30px 20px;
}
@media (max-width: 768px) {
  .header {
    margin-top: 20px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  overflow: unset;
}
@media (max-width: 1024px) {
  .header__inner {
    padding-inline: 30px;
  }
}
@media (max-width: 768px) {
  .header__inner {
    padding-inline: 20px;
  }
}
@media (max-width: 1024px) {
  .header__logo {
    width: 52px;
    height: 47px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: 45px;
    height: 40px;
  }
}
.header__burger {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--color-dark);
  height: 24px;
  aspect-ratio: 1;
}
.header__close {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--color-dark);
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-block: 34px 42px;
    padding-inline: 30px;
    background: var(--color-light);
    z-index: 1000;
  }
  .header__nav.open {
    display: flex;
  }
  .header__nav-top {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .header__nav-footer {
    font-family: var(--third-family);
    font-size: 20px;
    margin-right: auto;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .header__nav-list {
    gap: 22px;
  }
}
@media (max-width: 768px) {
  .header__nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 22px;
  }
}
.header__nav-item > a, .header__nav-subitem > a {
  padding-block: 5px;
}
@media (hover: hover) {
  .header__nav-item > a:hover, .header__nav-subitem > a:hover {
    color: var(--color-accent);
  }
}
@media (hover: hover) {
  .header__nav-item > a:active, .header__nav-subitem > a:active {
    color: #1166d5;
  }
  .header__nav-item > a:focus, .header__nav-subitem > a:focus {
    color: #1166d5;
  }
}
.header__nav-item.dropdown {
  position: relative;
}
@media (min-width: 769px) {
  .header__nav-item.dropdown:hover > .header__nav-sublist, .header__nav-item.dropdown:focus-within > .header__nav-sublist {
    display: block;
  }
}
.header__nav-toggle {
  padding: 0;
  background-color: transparent;
  border: 0;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__nav-toggle::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 1px solid var(--color-dark);
  border-bottom: 1px solid var(--color-dark);
  transform: rotate(45deg) translateY(-50%);
  transition: var(--transition-duration);
}
@media (min-width: 769px) {
  .header__nav-item.dropdown:hover .header__nav-toggle::after, .header__nav-item.dropdown:focus-within .header__nav-toggle::after {
    transform: rotate(-135deg) translateY(-10%);
  }
}
@media (max-width: 768px) {
  .header__nav-toggle {
    margin: auto;
  }
  .header__nav-toggle.active:after {
    transform: rotate(-135deg) translateY(-10%);
  }
}
.header__nav-sublist {
  display: none;
  position: absolute;
  left: -16px;
  top: 100%;
  padding-block: 28px 8px;
  background: var(--color-light);
  border-radius: 0 0 20px 20px;
  z-index: 900;
}
@media (max-width: 768px) {
  .header__nav-sublist {
    position: relative;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding-block: 24px 0;
    left: 0;
    top: 0;
    font-size: 18px;
  }
  .header__nav-sublist.open {
    display: flex;
  }
  .header__nav-sublist li {
    padding: 0;
  }
}
.header__nav-subitem {
  padding: 10px 46px 10px 16px;
  white-space: nowrap;
}

.footer {
  padding-bottom: 30px;
}
@media (max-width: 1024px) {
  .footer {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 10px;
  }
}
.footer__inner {
  padding: 60px 80px;
}
@media (max-width: 1024px) {
  .footer__inner {
    padding: 40px 30px;
  }
}
@media (max-width: 768px) {
  .footer__inner {
    padding: 40px 20px;
  }
}
@media (max-width: 524px) {
  .footer__inner {
    padding: 30px 16px;
  }
}
.footer__head {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer__head {
    gap: 60px;
  }
}
@media (max-width: 768px) {
  .footer__head {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 524px) {
  .footer__head {
    gap: 20px;
  }
}
.footer__logo {
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .footer__logo {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    margin-bottom: 15px;
  }
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
}
.footer__pages {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}
@media (max-width: 524px) {
  .footer__pages {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__pages-column:last-child {
    grid-column: span 2;
  }
}
.footer__pages-title {
  margin-bottom: 20px;
}
.footer__pages-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--color-light-70);
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.breadcrumb {
  margin-top: 30px;
  margin-bottom: 60px;
}
.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.breadcrumb__item {
  font-size: 14px;
  color: var(--color-dark-40);
}
.breadcrumb__item:not(:last-child):after {
  content: "/";
  margin-left: 6px;
}
.breadcrumb__item.active {
  color: var(--color-dark-70);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 524px) {
  .pagination {
    gap: 8px;
  }
}
.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
@media (max-width: 524px) {
  .pagination__list {
    gap: 6px;
  }
}
.pagination__item {
  padding: 8px 12px;
  line-height: 1;
  color: var(--color-dark-70);
  border-radius: 6px;
}
@media (max-width: 524px) {
  .pagination__item {
    padding: 6px 8px;
  }
}
.pagination__item.active {
  color: var(--color-accent);
  background-color: rgba(8, 77, 167, 0.1);
}
.pagination__prev-icon, .pagination__next-icon {
  width: 20px;
  height: 20px;
}

.hero {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-inline: 40px;
  padding-block: clamp(50px, 7.5vw, 135px);
}
@media (max-width: 1024px) {
  .hero {
    padding-block: 50px;
    padding-inline: 20px;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 768px) {
  .hero__content {
    padding: 30px 20px 0 20px;
  }
}
.hero__title {
  font-size: clamp(26px, 3.8888888889vw, 70px);
  line-height: 1.2;
  margin-bottom: 20px;
}
.hero__text {
  font-size: clamp(14px, 1.1111111111vw, 20px);
  max-width: 720px;
  color: var(--color-dark-70);
  margin-bottom: 50px;
}
.hero__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}
@media (max-width: 1024px) and (min-width: 769px) {
  .hero__buttons {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .hero__buttons {
    margin: auto;
  }
}
.hero__image {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
}
@media (max-width: 768px) {
  .hero__image {
    position: relative;
    width: 100%;
  }
}
.hero__image img {
  height: 100%;
  object-fit: cover;
}
.hero__image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  pointer-events: none;
  border-radius: inherit;
}

.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 80px 118px;
}
@media (max-width: 1024px) {
  .history {
    padding: 33px 63px;
  }
}
@media (max-width: 768px) {
  .history {
    padding: 40px 48px;
  }
}
@media (max-width: 375px) {
  .history {
    padding: 30px 16px;
  }
}
.history__content {
  font-size: clamp(18px, 2.8888888889vw, 52px);
  line-height: 1.4;
  text-align: center;
  display: flex;
}
.history__image {
  display: inline;
  height: 1.4em;
  vertical-align: middle;
}

.achievements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 40px;
}
@media (max-width: 1024px) {
  .achievements {
    padding: 60px 40px;
  }
}
@media (max-width: 768px) {
  .achievements {
    padding: 40px 30px;
  }
}
@media (max-width: 375px) {
  .achievements {
    padding: 40px 16px;
  }
}
.achievements__title {
  text-align: center;
  max-width: 900px;
  margin-bottom: 40px;
}
.achievements__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .achievements__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 524px) {
  .achievements__cards {
    grid-template-columns: 1fr;
  }
}
.achievements__card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 50px 30px;
  background: var(--color-light-bg);
  border-radius: var(--border-radius-sm);
}
@media (max-width: 768px) {
  .achievements__card {
    padding-block: 30px;
  }
}
@media (max-width: 375px) {
  .achievements__card {
    padding-inline: 20px;
  }
}
.achievements__number {
  font-size: clamp(60px, 6.6666666667vw, 120px);
  font-weight: 700;
  line-height: 1;
  color: var(--color-accent);
}
.achievements__text {
  font-size: clamp(14px, 1.1111111111vw, 20px);
  line-height: 1.4;
  color: var(--color-dark-70);
}

.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .mission {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
.mission__image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-width: 100%;
  gap: 100px;
  padding: 40px 40px 60px;
  background: url("../images/mission.webp") no-repeat center/cover;
  z-index: -20;
}
.mission__image:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-dark-40);
  border-radius: inherit;
  z-index: -10;
}
@media (max-width: 1024px) {
  .mission__image {
    aspect-ratio: 241/139;
  }
}
@media (max-width: 768px) {
  .mission__image {
    padding: 40px 30px 60px;
  }
}
@media (max-width: 524px) {
  .mission__image {
    padding: 20px 16px;
  }
}
.mission__tab {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-height: 41px;
  padding: 10px 16px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .mission__tab {
    max-height: 24px;
  }
}
@media (max-width: 524px) {
  .mission__tab {
    font-size: 12px;
  }
}
.mission__title {
  color: var(--color-light);
}
@media (max-width: 524px) {
  .mission__title {
    font-size: 16px;
  }
}
.mission__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) and (min-width: 769px) {
  .mission__cards {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .mission__cards {
    grid-template-columns: 1fr;
  }
}
.mission__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 30px;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}
@media (min-width: 1025px) {
  .mission__card {
    min-height: 333px;
  }
}
@media (max-width: 768px) {
  .mission__card {
    padding: 30px 20px;
  }
}
.mission__number {
  display: inline-block;
  padding: 13px 18px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  color: var(--color-light);
  background: var(--color-accent);
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}
.mission__subtitle {
  white-space: nowrap;
}
.mission__text {
  color: var(--color-dark-70);
}

.infrastructure__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .infrastructure__head {
    flex-direction: column;
    gap: 20px;
  }
}
.infrastructure__title {
  font-size: clamp(20px, 1.7777777778vw, 32px);
}
@media (min-width: 1025px) {
  .infrastructure__title {
    flex-shrink: 0;
    max-width: 50%;
  }
}
@media (min-width: 1025px) {
  .infrastructure__text {
    max-width: 45%;
  }
}
.infrastructure__images {
  --gap: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.infrastructure__images-head {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 41% 58%;
}
@media (max-width: 768px) {
  .infrastructure__images-head {
    grid-template-columns: 1fr;
  }
}
.infrastructure__images-body {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 768px) {
  .infrastructure__images-body {
    grid-template-columns: 1fr 1fr;
  }
  .infrastructure__images-body img:nth-child(2) {
    width: 100%;
    grid-row: 2;
    grid-column: span 2;
  }
}
.infrastructure__images img {
  object-fit: contain;
  border-radius: var(--border-radius);
}
@media (max-width: 1024px) {
  .infrastructure__images img {
    border-radius: var(--border-radius-sm);
  }
}
@media (max-width: 768px) {
  .infrastructure__images {
    --gap: 15px;
  }
}
@media (max-width: 524px) {
  .infrastructure__images {
    --gap: 10px;
  }
}

.news__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  margin-inline: auto;
}
@media (max-width: 1200px) {
  .news__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .news__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 524px) {
  .news__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.news__card {
  background: var(--color-light);
  border-radius: var(--border-radius-sm);
}
@media (min-width: 768px) and (max-width: 1200px) {
  .news__card:last-child {
    display: none;
  }
}
.news__image {
  width: 100%;
  border-radius: var(--border-radius-sm);
  margin-bottom: 16px;
}
.news__body {
  padding: 0 20px 30px;
}
.news__date {
  color: var(--color-dark-40);
  margin-bottom: 12px;
}
.news__subtitle {
  font-size: 18px;
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .news__subtitle {
    font-size: 16px;
  }
}
.news__text {
  font-size: 14px;
  color: var(--color-dark-70);
}
.news__button {
  padding-inline: 87px;
}
@media (max-width: 768px) {
  .news__button {
    width: 100%;
  }
}

.moments__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .moments__images {
    gap: 15px;
  }
}
@media (max-width: 524px) {
  .moments__images {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
.moments__images img, .moments__images a {
  border-radius: var(--border-radius);
}
@media (max-width: 1024px) {
  .moments__images img, .moments__images a {
    border-radius: var(--border-radius-sm);
  }
}
.moments__more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 22px;
  gap: 4px;
}
@media (max-width: 1024px) {
  .moments__more {
    font-size: 16px;
  }
  .moments__more svg {
    width: 32px;
  }
}
@media (max-width: 768px) {
  .moments__more {
    font-size: 14px;
  }
  .moments__more svg {
    width: 24px;
  }
}
@media (hover: hover) {
  .moments__more:hover {
    background: var(--color-accent-hover);
  }
}
@media (hover: none) {
  .moments__more:active {
    background: var(--color-accent-hover);
  }
}

.contacts__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .contacts__body {
    grid-template-columns: 1fr;
  }
}
.contacts__map {
  overflow: hidden;
  min-height: 333px;
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
}
.contacts__card {
  padding: 60px 40px;
}
@media (max-width: 768px) {
  .contacts__card {
    padding: 40px 20px;
  }
}
@media (max-width: 524px) {
  .contacts__card {
    padding: 30px 16px;
  }
}
.contacts__title {
  margin-bottom: 20px;
}
.contacts__text {
  max-width: 80%;
  margin-bottom: 40px;
}
@media (max-width: 524px) {
  .contacts__text {
    max-width: 100%;
  }
}
.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts__info-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contacts__info-item a, .contacts__info-item p {
  font-size: 22px;
}
@media (max-width: 768px) {
  .contacts__info-item a, .contacts__info-item p {
    font-size: 20px;
  }
}
@media (max-width: 524px) {
  .contacts__info-item a, .contacts__info-item p {
    font-size: 16px;
  }
}
.contacts__page-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .contacts__page-info {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 524px) {
  .contacts__page-info {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
}
.contacts__page-info-title {
  font-size: 16px;
}
@media (max-width: 524px) {
  .contacts__page-info-title {
    font-size: 14px;
  }
}
.contacts__page-info a {
  font-size: 22px;
  color: var(--color-accent);
}
@media (max-width: 524px) {
  .contacts__page-info a {
    font-size: 18px;
  }
}
.contacts__phones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 80px;
}
@media (max-width: 1024px) {
  .contacts__phones {
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .contacts__phones {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 524px) {
  .contacts__phones {
    margin-top: 35px;
  }
}
.contacts__phones-item {
  padding: 60px 40px;
}
@media (max-width: 1024px) {
  .contacts__phones-item {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .contacts__phones-item {
    padding: 40px 20px;
  }
}
@media (max-width: 524px) {
  .contacts__phones-item {
    padding: 30px 16px;
  }
}
.contacts__phones-title {
  font-size: 34px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
}
@media (max-width: 1024px) {
  .contacts__phones-title {
    font-size: 24px;
  }
}
@media (max-width: 524px) {
  .contacts__phones-title {
    font-size: 20px;
  }
}
.contacts__phones-subtitle {
  display: block;
  font-size: 18px;
  color: var(--color-dark-40);
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .contacts__phones-subtitle {
    font-size: 16px;
  }
}
@media (max-width: 524px) {
  .contacts__phones-subtitle {
    font-size: 14px;
  }
}
.contacts__phone {
  font-size: 22px;
}
@media (max-width: 1024px) {
  .contacts__phone {
    font-size: 20px;
  }
}
@media (max-width: 524px) {
  .contacts__phone {
    font-size: 18px;
  }
}
.contacts__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
@media (max-width: 524px) {
  .contacts__form {
    gap: 10px;
  }
}
.contacts__form-button {
  width: 100%;
  border-radius: 16px;
  background: var(--color-dark);
}

.coaches__head {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}
.coaches__tabs {
  height: fit-content;
}
.coaches__tabs a {
  max-height: 41px;
}
.coaches__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .coaches__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .coaches__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 524px) {
  .coaches__cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.coaches__content {
  padding: 20px 30px;
}
@media (max-width: 1024px) {
  .coaches__content {
    padding: 16px 20px;
  }
}
.coaches__job {
  font-size: 14px;
  color: var(--color-accent);
  margin-bottom: 6px;
}
.coaches__name {
  font-size: 22px;
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .coaches__name {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
.coaches__history-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.coaches__history-item {
  color: var(--color-dark-70);
}
.coaches__history-item span {
  color: var(--color-dark);
}

.jobs__title {
  margin-bottom: 30px;
}
@media (max-width: 524px) {
  .jobs__title {
    margin-bottom: 20px;
  }
}
.jobs__info {
  font-weight: 500;
  color: var(--color-dark-70);
  margin-bottom: 20px;
  max-width: 80%;
}
@media (min-width: 1025px) {
  .jobs__info {
    font-size: 18px;
  }
}
.jobs__info a {
  text-wrap: nowrap;
  color: var(--color-accent);
}
.jobs__list {
  padding: 60px 40px;
}
@media (max-width: 1024px) {
  .jobs__list {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .jobs__list {
    padding: 40px 20px;
  }
}
@media (max-width: 524px) {
  .jobs__list {
    padding: 16px 30px;
  }
}
.jobs__item {
  font-weight: 500;
  font-size: 28px;
  padding-block: 24px;
}
@media (max-width: 768px) {
  .jobs__item {
    padding-block: 20px;
  }
}
@media (max-width: 524px) {
  .jobs__item {
    padding-block: 16px;
  }
}
.jobs__item:first-child {
  padding-top: 0;
}
.jobs__item:last-child {
  padding-bottom: 0;
}
.jobs__item:not(:last-child) {
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
}
@media (max-width: 1024px) {
  .jobs__item {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .jobs__item {
    font-size: 20px;
  }
}
@media (max-width: 524px) {
  .jobs__item {
    font-size: 18px;
  }
}

.policy__text * {
  margin-block: 0;
}

.documents__title {
  font-size: 44px;
}
@media (max-width: 1024px) {
  .documents__title {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .documents__title {
    font-size: 26px;
  }
}
@media (max-width: 524px) {
  .documents__title {
    font-size: 20px;
  }
}
.documents__subtitle {
  font-size: 34px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .documents__subtitle {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .documents__subtitle {
    font-size: 22px;
  }
}
@media (max-width: 524px) {
  .documents__subtitle {
    font-size: 18px;
  }
}
.documents__row:not(:last-child) {
  margin-bottom: 30px;
}
.documents__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 524px) {
  .documents__list {
    gap: 16px;
  }
}
.documents__item {
  width: fit-content;
  font-size: 20px;
  color: var(--color-dark-70);
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-dark-70);
}
@media (max-width: 768px) {
  .documents__item {
    font-size: 18px;
  }
}
@media (max-width: 524px) {
  .documents__item {
    font-size: 16px;
  }
}
.documents__text {
  font-size: 18px;
  color: var(--color-dark-70);
}
@media (max-width: 768px) {
  .documents__text {
    font-size: 16px;
  }
}
@media (max-width: 524px) {
  .documents__text {
    font-size: 14px;
  }
}
.documents__text a {
  color: var(--color-accent);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.schedule {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
}
.schedule__text {
  font-size: 18px;
  color: var(--color-dark-70);
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .schedule__text {
    font-size: 16px;
  }
}
.schedule__date {
  font-size: 18px;
  color: var(--color-dark-40);
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .schedule__date {
    font-size: 16px;
  }
}
.schedule__button {
  width: fit-content;
  gap: 10px;
}

.admission__title {
  font-size: 26px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .admission__title {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .admission__title {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .admission .mission {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1025px) {
  .admission .mission__card {
    min-height: 222px;
  }
}
.admission .mission__text {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
}
@media (max-width: 1024px) {
  .admission .mission__text {
    font-size: 16px;
  }
}
.admission .mission__text a {
  color: var(--color-accent);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.news-page {
  max-width: 1060px;
  margin-inline: auto;
}
.news-page__head {
  margin-bottom: 20px;
}
.news-page__date {
  display: block;
  color: var(--color-dark-70);
  margin-bottom: 20px;
}
.news-page__title {
  font-size: 32px;
}
@media (max-width: 1024px) {
  .news-page__title {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .news-page__title {
    font-size: 20px;
  }
}
@media (max-width: 524px) {
  .news-page__title {
    font-size: 18px;
  }
}
.news-page__image {
  width: 100%;
  margin-bottom: 30px;
}
.news-page__image img {
  width: 100%;
}
.news-page__content {
  color: var(--color-dark-70);
}

.gallery {
  /* Страница объекта галереи */
}
.gallery__title {
  font-size: 44px;
}
@media (max-width: 1024px) {
  .gallery__title {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .gallery__title {
    font-size: 26px;
  }
}
.gallery__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}
@media (max-width: 1024px) {
  .gallery__cards {
    gap: 20px 10px;
  }
}
@media (max-width: 768px) {
  .gallery__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 524px) {
  .gallery__cards {
    grid-template-columns: 1fr;
  }
}
.gallery__image {
  border-radius: var(--border-radius);
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .gallery__image {
    border-radius: var(--border-radius-sm);
  }
}
.gallery__date {
  display: block;
  color: var(--color-dark-40);
  margin-bottom: 16px;
}
@media (max-width: 1024px) {
  .gallery__date {
    margin-bottom: 10px;
  }
}
.gallery__subtitle {
  width: 90%;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .gallery__subtitle {
    font-size: 16px;
  }
}
.gallery_item .gallery__cards {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 524px) {
  .gallery_item .gallery__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  .gallery_item .gallery__image {
    border-radius: 20px;
  }
}
@media (max-width: 768px) {
  .gallery_item .gallery__image {
    border-radius: 15px;
  }
}
@media (max-width: 524px) {
  .gallery_item .gallery__image {
    border-radius: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
