@import "normalize", "fonts", "media", "variables", "utils", "mixins", "globals";

@import
  "ui/button",
  "ui/section",
  "ui/input",
  "ui/checkbox";

@import
  "blocks/header",
  "blocks/footer",
  "blocks/breadcrumb",
  "blocks/pagination",
  "blocks/cookies";

@import
  "blocks/hero",
  "blocks/history",
  "blocks/achievements",
  "blocks/mission",
  "blocks/infrastructure",
  "blocks/news",
  "blocks/moments",
  "blocks/contacts";

@import
  "blocks/pages/coaches",
  "blocks/pages/jobs",
  "blocks/pages/policy",
  "blocks/pages/documents",
  "blocks/pages/schedule",
  "blocks/pages/admission",
  "blocks/pages/news-page",
  "blocks/pages/gallery";